<div id="page_name"><%= @participant.title %></div>
<div class="content">
<table>
<tr>
  <td><%= image_tag(@participant.photo.url) %></td>
<td id="description">
<%= @participant.description %>
</td>
</tr>
</table>
</div>